# 实验1-AURORA+DMS+MSK数据流

## Aurora MySQL作为源数据库

In [1]:
import MySQLdb,random,time

host = 'hudi-workshop-auroracluster-1sq2oz2vmrcll.cluster-cznqsqgcjv3s.rds.cn-northwest-1.amazonaws.com.cn'
user = 'master'
password = 'S3cretPwd99'
port = 3306
db = 'salesdb'

conn = MySQLdb.Connection(
    host=host,
    user=user,
    passwd=password,
    port=port,
    db=db
)

def execute_sql(sql):
    conn.query(sql)
    result = conn.store_result()
    for i in range(result.num_rows()):
        print(result.fetch_row())
        
def execute_dml(sql):
    conn.query(sql)
    rowcount = conn.affected_rows()
    print ("Rows updated: %d"%rowcount)
    conn.commit()

execute_sql("show tables")

(('CUSTOMER',),)
(('CUSTOMER_SITE',),)
(('PRODUCT',),)
(('PRODUCT_CATEGORY',),)
(('SALES_ORDER',),)
(('SALES_ORDER_ALL',),)
(('SALES_ORDER_DETAIL',),)
(('SALES_ORDER_DETAIL_DS',),)
(('SALES_ORDER_V',),)
(('SUPPLIER',),)

这是一个通用的SALES OLTP模式。在上面的表中，SALES_ORDER_DETAIL是我们将模拟更新的表。

让我们以SALES_ORDER_DETAIL表中的随机顺序执行一次更新。

In [2]:
# Example of how to update a random order.
order_id=random.randint(1,29000)
print ("Original Values: ")

execute_sql("SELECT ORDER_ID, LINE_NUMBER, QUANTITY FROM SALES_ORDER_DETAIL WHERE ORDER_ID = %d"%order_id)
execute_dml("UPDATE SALES_ORDER_DETAIL set QUANTITY = QUANTITY + 1 WHERE ORDER_ID = %d"%order_id)
print ("Updated Values: ")

execute_sql("SELECT ORDER_ID, LINE_NUMBER, QUANTITY FROM SALES_ORDER_DETAIL WHERE ORDER_ID = %d"%order_id)

Original Values:
((20153, 1, 111),)
((20153, 1, 60),)
((20153, 1, 52),)
((20153, 1, 101),)
Rows updated: 4
Updated Values:
((20153, 1, 112),)
((20153, 1, 61),)
((20153, 1, 53),)
((20153, 1, 102),)